
.containerfirstsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title {
    position: relative;
    margin-top: -20px;
    font-size: 6rem; 
    font-weight: bold;
    margin-bottom: 0px;
  }
  .title2 {
    font-weight: 300;
  }

.para1 {
  margin-top: 0px;
  font-size: 3rem;
  font-weight: bold; 
}
.para2{
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-family: sans-serif;
  max-width: 800px;
}

.applemusicimg{
  width: 25px;
  height: 25px ;
  object-fit: cover;
  border-radius: 5px;
}

.spotifyimg{
  width: 25px;
  height: 25px ;
  object-fit: cover;
  border-radius: 5px;
}

.dopplerimg{
  width: 25px;
  height: 25px ;
  object-fit: cover;
  border-radius: 5px;
}

.twoboxdiv{
  margin-top: 18px;
  height: 80px;
  width: 520px;
  display: flex;
  justify-content: space-between;
  
}

.applediv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size:x-large;
  border-radius: 15px;
  height: 60px;
  width: 250px;
  background-color: black;
}
.applediv img{
  height: 35px;
  width: 35px;
}
.paymentdiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  height: 60px;
  width: 250px;
  background-color: rgb(228, 235, 240);
  font-weight: 600;
  font-size:x-large;
}
.para3{
  width: 300px;
  opacity: 0.5;
}

.progressdiv{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  height: 50px;
  width: 700px;
  border: 1px solid rgb(218, 213, 213);
  background-color: rgb(236, 242, 245);
}

.progressdiv p{
  opacity: .8;
  font-size: 15px;
}
.progressdiv img{
  margin-left: -80px;
 height: 70px;
 width: 70px;
 object-fit: cover;
}