/* body{
    background-color: aliceblue;
    box-sizing: border-box;
} */
.payment-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 30px;
    width: 500px;
    height: 400px;
    margin: 70px auto;
    background-color: rgb(168, 202, 232);
    box-shadow: 30px 39px 20px rgb(199, 222, 221);
}
.payment-container h1{
    margin-top: 20px;
    text-decoration: underline;

}
.payment-container p{
    margin-top: 50px;
    font-size: 20px;
}
.payment-container button{
    height: 30px;
    width: 50px;
}