.containersecondthemes{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.Secondthemes-para1{
    color: rgb(20, 152, 246);
    font-size: 15px;
    font-weight: 700;
}
.Secondthemes-para2{
    margin-top: 10px;
    font-size: 48px;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.Secondthemes-para3{
    font-size: 24px;
    width: 1000px;
    margin: 0 auto;
}
.themescorouselimg{
    margin-top:20px ;
}
.themescorouselimg img{
    height: 420px;
    object-fit: cover;
}

.Secondthemes-cards-main{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    width: auto;
}

.Secondthemes-card-one{
    border:1px solid rgb(176, 171, 171);
    border-radius: 10px;
    background-color: #e4eaf7;
    height: 350px;
    width: 570px;
    display: flex;
}

.Secondthemes-card-one-div-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;

}

.Secondthemes-card-one-div-two img{
    position: relative;
    top: 100px;
    left: 20px;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.Secondthemes-card-two{
    border:1px solid rgb(176, 171, 171);
    border-radius: 10px;
    background-color: #def1eb;
    height: 350px;
    width: 570px;
    display: flex;
}
.Secondthemes-card-two-div-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;

}
.Secondthemes-card-two-div-two img{
    position: relative;
    top: 100px;
    left: 20px;
    height: 250px;
    width: 250px;
    object-fit: cover;
}


