

.third-para1{
    color: rgb(109, 53, 223);
    font-size: 15px;
    font-weight: 500;
}

.third-para2{
    margin-top: 0px;
    font-size: 45px;
    font-weight: 700;
}

.third-para3{
    margin-top: 0px;
    font-size: 25px;
    width: 900px;
    margin: 0 auto 90px;
}

.thirdcustom-images{
    display: flex;
    margin: auto;
    height: 100px;
    width: 900px;
}
.custImgOne{
    position: relative;
    height: 100px;
}
.custImgTwo{
    position: relative;
    right: 40px;
    height: 120px;
    bottom: 10px;
}
.custImgThree{
    position: relative;
    right: 80px;
    height: 140px;
    bottom: 20px;
}
.custImgFour{
    position: relative;
    right: 100px;
    height: 160px;
    bottom: 30px;
}
.custImgFive{
    position: relative;
    right: 120px;
    height: 180px;
    bottom: 40px;
    z-index: 1;
}
.custImgSix{
    position: relative;
    right: 140px;
    height: 160px;
    bottom: 30px;
}
.custImgSeven{
    position: relative;
    right: 160px;
    height: 140px;
    bottom: 20px;
}
.custImgEight{
    position: relative;
    right: 180px;
    height: 120px;
    bottom: 10px;
}
.custImgNine{
    position: relative;
    right: 200px;
    height: 100px;
}

.sticky-container {
    height: 4000px;
    margin-top: 200px;
    position: relative;
}
.stickyimg {
    position: sticky;
    top: 50px;
    left: 850px;
    height: 500px;
    width: 600px;
}

.thirdcust-artwork {
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
}

.artwork-left {
    text-align: left;
    width: 400px;
    margin-right: 200px;
}

.artwork-right {
    margin:0;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.artworkimgone{
    height: 100px;
    width: 370px;
    margin-left: 60px;
    margin-bottom: 30px;
    z-index: 1;

}
.artworkimgtwo{
    height: 100px;
    width: 370px;
    margin-left: 60px;
    margin-bottom: 30px;
    z-index: 1;
    border-radius: 15px;
}
.artworkimgthree{
    height: 100px;
    width: 370px;
    margin-left: 60px;
    z-index: 1;
    border-radius: 15px;
}


.thirdcust-typography {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
}
.typography-left {
    text-align: left;
    width: 400px;
    margin-right: 200px;
}

.typography-right {
    margin:0;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.typographyimgone{
    height: 300px;
    margin-left: 50px;
    margin-bottom: 30px;
    width:400px ;
    z-index: 1;
    border-radius: 15px;
}

.typographyimgtwo{
    height: 400px;
    margin-left: 50px;
    width: 400px;
    z-index: 7;
    border-radius: 15px;
}

.thirdcust-interface{
    margin-top: 400px;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
}

.interface-left {
    text-align: left;
    width: 400px;
    margin-right: 200px;
}

.interface-right{
    margin:0;
    display: flex;
    flex-direction: column;
    width: 500px;
}
.interfaceImgOne{

    height: 400px;
    width: 400px;
    z-index: 1;
    position: relative;
    bottom: 80px;
    border-radius: 15px;
}

.interfaceImgTwo{
    height: 400px;
    width: 400px;
    z-index: 8;
    position: relative;
    bottom: 80px;
    left: 40px;
    border-radius: 15px;
}

.thirdcust-settings{
    margin-top: 400px;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
}

.settings-left{
    text-align: left;
    width: 400px;
    margin-right: 200px;
}

.settings-right{
    margin:0;
    display: flex;
    flex-direction: column;
    width: 500px;
}
.settingsImgOne{

    height: 400px;
    width: 400px;
    z-index: 3;
    position: relative;
    bottom: 80px;
    border-radius: 15px;

}
.settingsImgTwo{

    height: 400px;
    width: 400px;
    z-index: 2;
    position: relative;
    bottom: 100px;
    left: 20px;
    border-radius: 15px;

}
.settingsImgThree{

    height: 400px;
    width: 400px;
    z-index: 1;
    position: relative;
    bottom: 130px;
    left: 35px;
    border-radius: 15px;

}

.Integrations{
    margin-top: 200px;
   display: flex;
   flex-direction: column;
}
.Integrations-para1{
    color: rgb(234, 50, 50);
    font-size: 15px;
    font-weight: 500;
}
.Integrations-para2{
    margin-top: 0px;
    font-size: 48px;
    font-weight: 700;
}


