.transactions-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
  }
  
  .transaction-card {
    background-color: rgb(223, 219, 219);
    border-radius: 8px;
    padding: 16px;
    text-align: center;
  }
  
  .transaction-name {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .transaction-amount {
    font-size: 16px;
    margin: 0;
  }
  